*{
    padding: 0;
    margin: 0;
}

.cabeca{
    height: 60px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img{
    height: 50px;
    width: 50px;
}

h1{
color: white;
}
header a{
    text-decoration: none;
    color: white;
}
.esquerda{
    padding-left: 20px;
}
.topo-direita{
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.topo-meio{
    display: flex;
    gap: 30px;
}

.p-esquerda{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#fotofoto{
    width: 100%;
    height: 700px;
}

.p-esquerda{
    margin-top: -550px;
    margin-left: 50px;
}

#botao{
    background-color: white;
    border-radius: 5px;
    height: 35px;
}

.faixa{
    margin-top: 300px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.texto h2{
    margin-top: 70px;
    margin-left: 70px;
    font-family:  Marr Sans Web,sans-serif;
    font-weight: 100;
}

.cards{
    display: flex;
    width: 100%;
    margin: 5px;
}

.meio h2{
 
    font-family:  Marr Sans Web,sans-serif;
    font-weight: 100;
   
}

.meio{
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: space-between;
}

#mao{
    height: 50px;
    width: 50px;
    display: flex;
    padding: 0;
    

}

#texto1 p{
    margin-top: -100px;
    font-family:  Marr Sans Web,sans-serif;
    font-weight: 100;
    line-height: 20;
  
}

#a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fileira{
    width: 30%;
    margin-top: 50px;
}

#textotexto{
    margin-top: -100px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

#textotexto img{
    height: 300px;
    width: 500px;
 
}

#b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

#foto5{
    height: 40px;
    width: 40px;
}

.direita{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.black{
    background-color: black;
    margin-top: -100px;
    height: 400px;
    width: 100%;
}

#titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Queens,serif;
    font-size: 35px;
    color: white;
    padding: 30px;
}

#sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Marr Sans Web,sans-serif;
    font-size: 23px;
    color: white;
}

.penultima{
    height: 700px;
    width: 100%;
    display: flex;
    margin-top: 110px;
}


